@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #1b1b1d;
}

@media (max-width: 639px) {
  select.language-select option {
    font-size: 0; /* Esconde o texto */
  }
}

@media (min-width: 640px) {
  select.language-select option {
    font-size: 0.875rem; /* 14px padrão Tailwind sm:text-sm */
  }
}
